<!-----------------------------------------------------------
*
* Template HTML
* sidebar.html
*
*----------------------------------------------------------->

<!-- блок для проверки путей -->
<!--<script src="../../units/button/awesome_social/btn.html"></script>-->

<aside class="if-aside">
	<section class="if-aside-section">
		<a class="if-aside-section__title" href="#"><h3>Заголовок поста</h3></a>
		<ul class="if-aside-menu">
			<li><a href="#">Буковель</a></li>
			<li><a href="#">Backcountry</a></li>
			<li><a href="#">Крым</a></li>
		</ul>
	</section>

	<section class="if-aside-section">
		<a class="if-aside-section__title" href="#"><h3>Заголовок поста</h3></a>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel...
			<a href="#" class="if-aside-more"><span>Далее</span></a>
		</p>
	</section>

	<section class="if-aside-section">
		<a class="if-aside-section__title" href="#"><h3>Заголовок поста</h3></a>
		<ul class="if-aside-menu">
			<li><a href="#">Буковель</a></li>
			<li><a href="#">Backcountry</a></li>
			<li><a href="#">Крым</a></li>
		</ul>
	</section>

	<section class="if-aside-section">
		<a class="if-aside-section__title" href="#"><h3>Заголовок поста</h3></a>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel...
			<a href="#" class="if-aside-more"><span>Далее</span></a>
		</p>
	</section>

	<section>
		<!-- //= ../../units/accordion/bootstrap/accordion.html -->
	</section>
</aside>

