<!-----------------------------------------------------------
*
* Template HTML
* footer.html
*
*----------------------------------------------------------->

<!-- блок для проверки путей -->
<!--<script src="../../units/button/awesome_social/btn.html"></script>-->

<footer class="if-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
					<p>&copy; Все права защищены. 2017</p>
			</div> <!-- .col -->
			<div class="col-md-4">
					<p>Мы в социальных сетях</p>
			</div> <!-- .col -->
			<div class="col-md-4">
				<p>Здесь должна быть карта</p>
				<!--//= ../../units/map/google/map.html-->
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- .container -->
	//= ../../units/button/go_top/btn.html
</footer>

<!-- jQuery -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">-->
<!--</script>-->
<!--<script> window.jQuery || document.write(-->
	<!--'<script src="../../../../bower_lib/jquery/dist/jquery.min.js"><\/script>' )-->
<!--</script>-->

<!-- Main JS (Do not remove) -->
<script src="../../../js/in_footer.js" type="text/javascript"></script>
