<!-----------------------------------------------------------
*
* Template HTML
* main.html
*
*----------------------------------------------------------->

<!-- блок для проверки путей -->
<!--<script src="../../units/button/awesome_social/btn.html"></script>-->

<main class="if-main">
	<!--<section>-->
		<!--<div class="container">-->
			<!--&lt;!&ndash; // = ../../units/carousel/carousel.html &ndash;&gt;-->
		<!--</div>-->
	<!--</section>-->

	<section class="if-post">
	<a class="if-post__title" href="#"><h2>Заголовок поста</h2></a>
		<ul class="if-post__meta">
			<li><a href="#">9 декабря 2015</a></li>
			<li><a href="#">Backcountry</a></li>
			<li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
				 10</a></li>
		</ul>
		<a href="#">
			<img src="../../../img/post_thumbnail.png" alt="Пейзаж">
		</a>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel...
			<a href="#" class="if-post-more"><span>Далее</span></a>
		</p>
	</section>
	<section class="if-post">
		<a class="if-post__title" href="#"><h2>Заголовок поста</h2></a>
		<ul class="if-post__meta">
			<li><a href="#">9 декабря 2015</a></li>
			<li><a href="#">Backcountry</a></li>
			<li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
				10</a></li>
		</ul>
		<a href="#">
			<img src="../../../img/post_thumbnail.png" alt="Пейзаж">
		</a>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel...
			<a href="#" class="if-post-more"><span>Далее</span></a>
		</p>
	</section>
	<section class="if-post">
		<a class="if-post__title" href="#"><h2>Заголовок поста</h2></a>
		<ul class="if-post__meta">
			<li><a href="#">9 декабря 2015</a></li>
			<li><a href="#">Backcountry</a></li>
			<li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
				10</a></li>
		</ul>
		<a href="#">
			<img src="../../../img/post_thumbnail.png" alt="Пейзаж">
		</a>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel...
			<a href="#" class="if-post-more"><span>Далее</span></a>
		</p>
	</section>
	<section class="">
		<!--<div class="row">-->
			<!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
				<!--<p></p>-->
				<!--<a href="/src/img/.." class="if-image-popup if-animate">-->
					<!--<img src="/src/img/.." alt="image" class="if-img-responsive">-->
				<!--</a>-->
			<!--</div> &lt;!&ndash; .col &ndash;&gt;-->
			<!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
				<!--<p></p>-->
			<!--</div> &lt;!&ndash; .col &ndash;&gt;-->
			<!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
				<!--<p></p>-->
			<!--</div> &lt;!&ndash; .col &ndash;&gt;-->
		<!--</div> &lt;!&ndash; .row &ndash;&gt;-->
	</section>
	<div class="if-center">
		//= ../../units/pagination/simple/pg.html
	</div>
</main>
